@model MvcBurger.Entities.Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row justify-content-center align-items-center text-light">
    <div class="col-md-4">

        <h4>Menu Detayı</h4>
        <hr />
        <table class="table row">
            <tr>
                <td class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Ad)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Ad)
                </td>
            </tr>
          
            <tr>
                <td class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Fiyat)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Fiyat)
                </td>
            </tr>
            <tr>
                <td class="col-sm-5">
                    @Html.DisplayNameFor(model => model.ResimAdi)
                </td>
                <td class="col-sm-10">
                
                    @Html.DisplayFor(model => model.ResimAdi)
                </td>
            </tr>
        </table>


        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Güncelle</a>
            <a class="btn btn-warning " asp-action="Index">Tüm Siparişler</a>
        </div>
    </div>

</div>